body{
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background-color:bisque;
    color: steelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color:steelblue ;
    color:beige;
    padding:20px;
    border: none;
    border-radius: 35px;
}
